![](https://miro.medium.com/v2/resize:fit:1100/format:webp/1*JLDS6QzmL3vMSu17doQJxg.png)

In [1]:
import pandas as pd 
import sqlalchemy
import logging
logging.basicConfig(format='%(levelname)s:%(message)s',level=logging.DEBUG)
df=pd.read_parquet("export_1737321273129.parquet")

In [2]:
df.head()

         Date  LTP  Open  High  Low  Quantity  Turnover  Change
0  2011-03-25  135   133   135  132      2560    342820      -2
1  2011-03-27  134   135   135  134      2110    284040       1
2  2011-03-28  130   134   134  130      1288    169336       4
3  2011-03-29  127   130   129  127      1390    178760       3
4  2011-03-30  129   127   129  125      1261    161332      -2

In [3]:
#cleaned_df=df.loc[df['Open']>0,["Date","Open","LTP"]]
try:
    cleaned_df=df[df["Change"]>0]
    logging.info("Data Filtered Succefully")
except KeyError as ke:
    logging.error(f"keyerror : {ke} occured ")
    df["Price"]=df["LTP"]-df["Open"]
    cleaned_df=df

INFO:Data Filtered Succefully

In [4]:
cleaned_df.shape

(921, 8)

In [5]:
df.shape

(1991, 8)

In [6]:
cleaned_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 921 entries, 1 to 1988
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      921 non-null    object
 1   LTP       921 non-null    int64
 2   Open      921 non-null    int64
 3   High      921 non-null    int64
 4   Low       921 non-null    int64
 5   Quantity  921 non-null    int64
 6   Turnover  921 non-null    int64
 7   Change    921 non-null    int64
dtypes: int64(7), object(1)
memory usage: 64.8+ KB

In [7]:
cleaned_df["Date"]=pd.to_datetime(cleaned_df["Date"],format="%Y%m%d%H%M%S")

C:\Users\aboel\AppData\Local\Temp\ipykernel_12056\807329691.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df["Date"]=pd.to_datetime(cleaned_df["Date"],format="%Y%m%d%H%M%S")

In [8]:
cleaned_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 921 entries, 1 to 1988
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      921 non-null    datetime64[ns]
 1   LTP       921 non-null    int64
 2   Open      921 non-null    int64
 3   High      921 non-null    int64
 4   Low       921 non-null    int64
 5   Quantity  921 non-null    int64
 6   Turnover  921 non-null    int64
 7   Change    921 non-null    int64
dtypes: datetime64[ns](1), int64(7)
memory usage: 64.8 KB

## Validating Data:

Itâ€™s crucial to validate the transformation to ensure no important information is lost. Pandas provides methods like .nsmallest() and .nlargest() to inspect the smallest and largest values in the dataset.

In [9]:
print(cleaned_df.nsmallest(10,["Date"]))
print(cleaned_df.nlargest(10,["Date"]))

         Date  LTP  Open  High  Low  Quantity  Turnover  Change
1  2011-03-27  134   135   135  134      2110    284040       1
2  2011-03-28  130   134   134  130      1288    169336       4
3  2011-03-29  127   130   129  127      1390    178760       3
6  2011-04-04  131   132   132  126      2927    378740       1
7  2011-04-05  128   131   130  126      1828    236055       3
9  2011-04-07  128   131   130  126       825    105890       3
12 2011-04-13  127   128   127  127        60      7620       1
13 2011-04-17  125   127   127  125      1650    207460       2
14 2011-04-18  122   125   126  121      2651    329486       3
17 2011-04-21  124   126   128  123      2040    255070       2
           Date  LTP  Open  High  Low  Quantity  Turnover  Change
1988 2019-11-12  417   425   425  417     12550   5243574       8
1985 2019-11-07  415   417   417  414     18305   7596806       2
1982 2019-11-04  413   414   414  410     13907   5720752       1
1979 2019-10-24  414   415   416  412      9027   3743021       1
1978 2019-10-23  413   415   416  411      2992   1233519       2
1973 2019-10-14  410   415   415  409     15531   6379450       5
1970 2019-10-02  411   417   417  411      3711   1533696       6
1966 2019-09-26  410   412   412  409     13312   5460769       2
1961 2019-09-19  419   425   425  419     11420   4808885       6
1958 2019-09-16  408   413   414  408     23477   9632318       5

In [10]:
cleaned_df.to_csv("cleaned_stock_data.csv",index=False)

# Monitoring and Logging the ETL Pipeline

In [11]:
import logging
logging.basicConfig(format='%(levelname)s:%(message)s',level=logging.DEBUG)

In [12]:
# Example log messages
logging.info("Data transformation is complete.")
logging.warning("Unexpected number of rows detected.")

INFO:Data transformation is complete.
WARNING:Unexpected number of rows detected.